# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# Ambientes virtuais
venv/
env/
.venv/

# Dados (opcional — depende se você quer versionar o CSV ou não)
data/*.csv

# Sistema
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/